* {
    max-width: 100%;
    margin: 0;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-size: 1rem;
}

h1,
h2,
h3 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
}


/* Recursos */

.contenedor {
    margin: 0px;
    padding: 0px;
}

.btn-color {
    background-color: #99C355;
    color: #ffffff;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.btn-color:hover {
    cursor: pointer;
    background-color: #F97838;
    color: #ffffff;
}

.btn-invi {
    background-color: rgba(0, 0, 0, 0);
    color: #4d4d4d;
    border: none;
    border-radius: 0.5rem;
}


/* Footer */

.footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f3f3f3;
    background-color: #ffffff;
    color: #ffffff;
    padding: 2rem;
}

.redes i {
    color: #4b4b4b;
    font-size: 1.5rem;
}

.redes i:hover {
    color: #99C355;
    font-size: 1.8rem;
}

.contach {
    color: #4b4b4b;
    text-decoration: none;
}

.contach:hover {
    color: #99C355;
    text-decoration: none;
}

.copy {
    color: #4b4b4b;
}


/* index */

.bg-index {
    padding-top: 8rem;
    background-image: url(../img/Abejorral-Ant1.JPG);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bg-index h1 {
    color: #ffffff;
    text-shadow: 4px 4px 10px #000000;
    text-align: center;
    font-size: 5rem;
    filter: brightness(100%);
    text-transform: uppercase;
}

.iconos-index a {
    text-decoration: none;
}

.iconos-index h3 {
    color: #F97838;
    font-size: 1.4rem;
    text-decoration: none;
}

.iconos-index h3:hover {
    color: #99C355;
}

.iconos-index img {
    padding: 2rem;
}

@media only screen and (max-width: 767px) {
    .iconos-index img {
        padding: 5rem;
    }
    .iconos-index h3 {
        margin-top: -4rem;
        font-size: 1.8rem;
    }
    .bg-index h1 {
        font-size: 3rem;
    }
}


/* Login */

.bg-login {
    background-image: url(../img/bg-login.jpg);
    min-height: 100vh;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 10rem;
}

.login {
    background-color: rgba(255, 255, 255, 0.60);
    padding: 4rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.login img {
    width: 35%;
}

.login h3 {
    line-height: 1.2rem;
}

@media only screen and (max-width: 1050px) {
    .bg-login {
        padding: 3rem 5rem;
    }
    .login {
        padding: 2rem 4rem;
    }
    .login img {
        width: 50%;
    }
}

@media only screen and (max-width: 475px) {
    .bg-login {
        padding: 1.5rem 2.5rem;
    }
    .login {
        padding: 1rem 2rem;
    }
    .login img {
        width: 80%;
    }
}

input {
    width: 10px;
}

.recu-contr a {
    text-decoration: none;
    color: #FA7838;
    font-size: 1rem;
}

.recu-contr a:hover {
    color: #99C355;
    font-size: 1.05rem;
}


/* 
.main-login {
    padding: 5rem;
}

@media only screen and (min-width: 1200px) {
    .main-login {
        padding: 6rem 13rem 0 13rem;
    }
    input[type=text],
    input[type=passaword] {
        width: 100%;
    }
    .bg-login {
        padding: 5rem 10rem;
    }
    .div-login form {
        margin: 0rem 5rem;
    }
}

.div-login label {
    margin-top: 2rem;
}

.div-login {
    background-color: #ffffff2a;
    text-align: center;
    padding: 1.3rem;
    border-radius: 1rem;
}

.div-login img {
    width: 16rem;
}

.recup-contr {
    margin: 5rem 0;
}

.div-login h3 {
    font-size: 1rem;
    text-decoration: none;
    margin: 2rem 0 1rem 0;
    color: #FA7838;
}



.recu-contr a:hover {
    text-decoration: none;
    color: #E5573E;
}

.logo-foot img {
    margin: 2rem;
    width: 55%;
} */


/* MAPS */

#map {
    height: 750px;
    width: 100%;
}


/* Forms */

main {
    background-color: #fff;
    padding: 0 5rem;
}

.legend {
    color: #57758d;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 3500px;
}

.legend1 {
    color: #57758d;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 300px;
}

.label-frm {
    color: #fa7838;
    font-size: 1rem;
    text-align: left;
    border: none;
    width: 100%;
}

textarea {
    width: 100%;
}