* {
    max-width: 100%;
    margin: 0;
}

body {
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-size: 1rem;
}

footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

header {
    margin: 0px;
}

.container {
    margin: 0px;
    padding: 0px;
}

.row {
    padding: 0;
    margin: 0;
}

p {
    font-size: 2rem;
}


/* Header */


/* .navheader {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
} */

.nav-prin {
    padding-right: 9rem;
}

.bg-header {
    background-color: #E5573E;
}

.log-home {
    padding: 1rem;
}

.log-home img {
    max-width: 10rem;
}

.navbar a {
    color: #ffffff;
}

.navbar a:hover {
    color: #FA7838;
}

.dropdown-menu {
    background-color: #FA7838;
}

.collapse {
    justify-content: right;
    display: block;
}


/* Footer */

.fab {
    margin-top: 1rem;
    font-size: 3rem;
}

.ppp {
    font-size: 1rem;
}

.red-soci a {
    margin: 0 1rem;
}


/* Contendio imagen*/

.bg-img {
    padding-top: 8rem;
    background-image: url(../img/Abejorral-Ant1.JPG);
    height: 500px;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img h1 {
    color: #ffffff;
    text-shadow: 4px 4px 10px #000000;
    text-align: center;
    font-size: 5rem;
}


/* Login */

.bg-login {
    background-image: url(../img/bg-login.jpg);
    height: 100vh;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-login {
    padding: 5rem;
}

@media only screen and (min-width: 1200px) {
    .main-login {
        padding: 6rem 13rem 0 13rem;
    }
    input[type=text],
    input[type=passaword] {
        width: 100%;
    }
    .bg-login {
        padding: 5rem 10rem;
    }
    .div-login form {
        margin: 0rem 5rem;
    }
}

.div-login label {
    margin-top: 2rem;
}

.div-login {
    background-color: #ffffff2a;
    text-align: center;
    padding: 1.3rem;
    border-radius: 1rem;
}

.div-login img {
    width: 16rem;
}

.recup-contr {
    margin: 5rem 0;
}

.div-login h3 {
    font-size: 1rem;
    text-decoration: none;
    margin: 2rem 0 1rem 0;
    color: #FA7838;
}

.recu-contr a {
    text-decoration: none;
    color: #FA7838;
}

.recu-contr a:hover {
    text-decoration: none;
    color: #E5573E;
}

.logo-foot img {
    margin: 2rem;
    width: 55%;
}

/* MAPS */

#map {
	height: 750px;
	width: 100%;
}

/* Forms */

main{
    background-color: #fff;
    padding: 0 5rem;
}
.legend{
    color: #57758d;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 3500px;
}

.legend1{
    color: #57758d;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 300px;
}

.label-frm{
    color: #fa7838;
    font-size: 1rem;
    text-align: left;
    border: none;
    width: 100%;
}

textarea{
    width: 100%;
}

.boton{
    background-color: #5bc1e7;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 3rem;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: .4rem;
}

.boton:hover{
    cursor: pointer;
    background-color: #57758d;
}